<h1>Projects</h1>
<% if current_user %>
  <nav id="projects_nav">
    <%= link_to "New Project", new_project_path %>
  </nav>
<% end %>
<% if params[:category] %>
<h2>Category: <%= Category.find(params[:category]).name %></h2>
<% else %>
<h2>Projects listing</h2>  
<% end %>

<div id="projects">
  <%= render @projects %>
</div>
