$font-stack: "Open Sans", Helvetica, sans-serif;
$primary-color: #000;
$brand-color: #6124D9;

body{
  font: 100% $font-stack;
  color: $primary-color;

}

li.name h1 a {
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;
}

a, a:visited {
  color: $brand-color;
}

a:hover {
  background-color: inherit;
  text-decoration: underline;
  color: $brand-color;
}

nav a:hover {
  text-decoration: none;
}

a.button, a.button:visited {
  color: #fff;
}

ul#project-rewards-list {
  list-style: none;
}

div#projects{
  article {
    padding-bottom: 1em;
  }
}

.project_details {
  font-size: 0.75rem;
}

.sidebar {
  padding-top: 15px;
}


div.project-details-card {
  font-size: 0.85em;
}


div.project-reward {
  dl, dt {
    float: left;
  }


  dt {
    width: 20%;
    margin-right: 1em;
  }
  dt, dd {
    margin-bottom: 0em;
  }
  border-bottom: 1px solid grey;
  margin-top: 1em;

}